*{
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: #0816e0;
    margin-left: 7%;
    transform: translate(0%,-40%);
}

#subtitulo {
    font-family: sans-serif;
    color: #0816e0;
    margin-left: 10%;   
    transform: translate(0%,-100%); 
}

fieldset {
    border: 0;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 1em;
    color: #0816e0;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button {
    border-radius: 5px;
}

.box{
    width: 440px;
    padding: 50px;
    position: center;
    top: 50px;
    left: 50px;
    transform: translate(-9%,-7.5%);
    background: #09d3ee;
}

.campo {
    margin-bottom: 1em;

}

.campo label {
    margin-bottom: 0.2em;
    color:#0816e0;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #7780ff;
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #7780ff;
}

.botao {
    font-size: 1.2em;
    background: #0816e0;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%; 
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,80%);
}

.botao:hover {
    background: #6ab2f5;
    box-shadow: inset 2px 2px 2px rgba(0,0,0, 0.2);
    text-shadow: none;
}

#check {
    display: inline-block
}